[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Exec=com-pake-zalo
Icon=com-pake-zalo
Name=com-pake-zalo
StartupWMClass=com-pake-zalo
X-GNOME-FullName=com-pake-zalo
GenericName=com-pake-zalo
StartupNotify=true
Type=Application
NoDisplay=false
Terminal=false
