[Desktop Entry]
Encoding=UTF-8
Version=2.0.0
Exec=com-pake-discord
Icon=com-pake-discord
Name=com-pake-discord
Name[zh_CN]=discord
StartupWMClass=com-pake-discord
X-GNOME-FullName=com-pake-discord
GenericName=com-pake-discord
StartupNotify=true
Type=Application
NoDisplay=false
Terminal=false
